form {
  padding-top: 30px;
}

button {
  align-items: center;
  margin-left: 20px;
}

label {
  padding-bottom: 20px;
}

div.form-group {
  padding-top: 10px;
}

div.comment {
  padding-bottom: 10px;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}
