<form [formGroup]="form" (ngSubmit)="changePassword()">
  <div *ngIf="form.errors" class="alert alert-danger">
    Both passwords does not match!
  </div>
    <div class="form-group">
      <label for="old_password">Enter Old Password </label>
      <input formControlName="old_password" id="old_password" type="password" class="form-control">
      <div *ngIf="old_password && old_password.touched && old_password.invalid" class="alert alert-danger">
        <div *ngIf="old_password.errors && old_password.errors.ShouldBeSame">Old Password does not match</div>
        <div *ngIf="old_password.errors && old_password.errors.required">Old Password is required is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="new_password">Enter New Password</label>
      <input formControlName="new_password" id="new_password" type="password" class="form-control">
      <div *ngIf="new_password && new_password.touched && new_password.invalid" class="alert alert-danger">
        <div *ngIf="new_password.errors && new_password.errors.required">New Password is required is required</div></div>
    </div>
    <div class="form-group">
      <label for="current_password">Enter Current Password</label>
      <input formControlName="current_password" id="current_password" type="password" class="form-control">
      <div *ngIf="current_password && current_password.touched && current_password.invalid" class="alert alert-danger">
        <div *ngIf="current_password.errors && current_password.errors.ShouldBeEqual">Current Password does not match</div>
        <div *ngIf="current_password.errors && current_password.errors.required">Current Password is required</div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
